# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 빌드 결과물
/build/
/out/
/bin/

# Gradle 관련
.gradle/
/gradle-app.setting
gradle-wrapper.jar

# 실행 관련
*.log
*.jar
*.war
*.ear

# IDE 설정
/.idea/
/*.iml
*.iws
*.ipr

# OS 관련 파일
.DS_Store
Thumbs.db

# 환경 설정
.env
*.local
*.env.*